@font-face {
    font-family: 'ArnoPro-LightItalicDisplay';
    src: url('ArnoPro-LightItalicDisplay.eot');
    src: url('ArnoPro-LightItalicDisplay.eot?#iefix') format('embedded-opentype'),
         url('ArnoPro-LightItalicDisplay.woff') format('woff'),
         url('ArnoPro-LightItalicDisplay.ttf') format('truetype'),
         url('ArnoPro-LightItalicDisplay.svg#ArnoPro-LightItalicDisplay') format('svg');
    font-weight: normal;
    font-style: normal;

}