@font-face {
    font-family: 'ArnoPro-Bold';
    src: url('ArnoPro-Bold.eot');
    src: url('ArnoPro-Bold.eot?#iefix') format('embedded-opentype'),
         url('ArnoPro-Bold.woff') format('woff'),
         url('ArnoPro-Bold.ttf') format('truetype'),
         url('ArnoPro-Bold.svg#ArnoPro-Bold') format('svg');
    font-weight: normal;
    font-style: normal;

}