@font-face {
    font-family: 'ArnoPro-Smbd';
    src: url('ArnoPro-Smbd.eot');
    src: url('ArnoPro-Smbd.eot?#iefix') format('embedded-opentype'),
         url('ArnoPro-Smbd.woff') format('woff'),
         url('ArnoPro-Smbd.ttf') format('truetype'),
         url('ArnoPro-Smbd.svg#ArnoPro-Smbd') format('svg');
    font-weight: normal;
    font-style: normal;

}