### OS X ###
.DS_Store
.AppleDouble
.LSOverride
.idea
.project
.keep
.git

libs/
node_modules/
.DS_Store
.idea
.project
.svn

### Sublime Text ###
# workspace files are user-specific
*.sublime-workspace
*.sublime-project


### Thumbnails ###
._*

### Node ###
node_modules
npm-debug.log

###  Project ###
public/freeze
logs/*

### BEM ###
.bem/cache/
.enb/tmp/
src/libs/*
.bem/cache/
*bundles/*/*.*
!*bundles/*/*.bemdecl.js
!*bundles/*/*.bemjson.js
!*bundles/.bem/*
test/*.bundles/*/*
!test/*.bundles/*/*.bemjson.js
!test/*.bundles/.bem/*

