@font-face {
    font-family: 'Rouble';
    src: url('rouble.eot');
    src: local('Rouble'), url('rouble.woff') format('woff'),
    url('rouble.ttf') format('truetype'),
    url('rouble.svg#Rouble') format('svg');
}

.rouble,
.i-font__rouble
{
	font-family: 'Rouble';
	text-transform: uppercase;
	display: inline;
}