@font-face {
    font-family: 'Circe';
    src: url('circe-regular.eot');
    src: url('circe-regular.eot?#iefix') format('embedded-opentype'),
         url('circe-regular.woff') format('woff'),
         url('circe-regular.ttf') format('truetype'),
         url('circe-regular.svg#Circe') format('svg');
    font-weight: normal;
    font-style: normal;
}