@font-face {
    font-family: 'Circe';
    src: url('circe-regular_light.eot');
    src: url('circe-regular_light.eot?#iefix') format('embedded-opentype'),
         url('circe-regular_light.woff') format('woff'),
         url('circe-regular_light.ttf') format('truetype'),
         url('circe-regular_light.svg#Circe') format('svg');
    font-weight: 300;
    font-style: normal;
}