@font-face {
    font-family: 'gotham-pro';
    src: url('gotham-pro-lightitalic.eot');
    src: url('gotham-pro-lightitalic.eot?#iefix') format('embedded-opentype'), url('gotham-pro-lightitalic.woff') format('woff'), url('gotham-pro-lightitalic.ttf') format('truetype'), url('gotham-pro-lightitalic.svg#gotham-pro') format('svg');
    font-weight: 200;
    font-style: italic;
}