@font-face {
    font-family: 'gotham-pro';
    src: url('gotham-pro-bolditalic.eot');
    src: url('gotham-pro-bolditalic.eot?#iefix') format('embedded-opentype'), url('gotham-pro-bolditalic.woff') format('woff'), url('gotham-pro-bolditalic.ttf') format('truetype'), url('gotham-pro-bolditalic.svg#gotham-pro') format('svg');
    font-weight: bold;
    font-style: italic;
}