@font-face {
    font-family: 'gotham-pro';
    src: url('gotham-pro-mediumitalic.eot');
    src: url('gotham-pro-mediumitalic.eot?#iefix') format('embedded-opentype'), url('gotham-pro-mediumitalic.woff') format('woff'), url('gotham-pro-mediumitalic.ttf') format('truetype'), url('gotham-pro-mediumitalic.svg#gotham-pro') format('svg');
    font-weight: 500;
    font-style: italic;
}