@font-face {
    font-family: 'gotham-pro-narrow';
    src: url('gotham-pro-narrow-bold.eot');
    src: url('gotham-pro-narrow-bold.eot?#iefix') format('embedded-opentype'), url('gotham-pro-narrow-bold.woff') format('woff'), url('gotham-pro-narrow-bold.ttf') format('truetype'), url('gotham-pro-narrow-bold.svg#gotham-pro') format('svg');
    font-weight: bold;
    font-style: normal;
}
