@font-face {
    font-family: 'gotham-pro';
    src: url('gotham-pro-blackitalic.eot');
    src: url('gotham-pro-blackitalic.eot?#iefix') format('embedded-opentype'), url('gotham-pro-blackitalic.woff') format('woff'), url('gotham-pro-blackitalic.ttf') format('truetype'), url('gotham-pro-blackitalic.svg#gotham-pro') format('svg');
    font-weight: 800;
    font-style: italic;
}

