@font-face {
    font-family: 'klementina';
    src: url('klementina.eot');
    src: url('klementina.eot?#iefix') format('embedded-opentype'),
         url('klementina.woff') format('woff'),
         url('klementina.ttf') format('truetype'),
         url('klementina.svg#klementina') format('svg');
    font-weight: normal;
    font-style: normal;
}