@font-face {
    font-family: 'FuturaFuturis';
    src: url('futurafuturis.eot');
    src: url('futurafuturis.eot?#iefix') format('embedded-opentype'),
         url('futurafuturis.woff') format('woff'),
         url('futurafuturis.ttf') format('truetype'),
         url('futurafuturis.svg#futurafuturiscregular') format('svg');
    font-weight: normal;
    font-style: normal;
}