@font-face {
    font-family: 'ReformaGrotesk';
    src: url('reformagrotesk-medium.eot');
    src: url('reformagrotesk-medium.eot?#iefix') format('embedded-opentype'),
         url('reformagrotesk-medium.woff') format('woff'),
         url('reformagrotesk-medium.ttf') format('truetype'),
         url('reformagrotesk-medium.svg#reformagroteskmediumcregular') format('svg');
    font-weight: 500;
    font-style: normal;

}