@font-face {
    font-family: 'ReformaGrotesk';
    src: url('reformagrotesk-demi.eot');
    src: url('reformagrotesk-demi.eot?#iefix') format('embedded-opentype'),
         url('reformagrotesk-demi.woff') format('woff'),
         url('reformagrotesk-demi.ttf') format('truetype'),
         url('reformagrotesk-demi.svg#reformagroteskdemicregular') format('svg');
    font-weight: 600;
    font-style: normal;

}