@font-face {
    font-family: 'ReformaGrotesk';
    src: url('reformagrotesk-bold.eot');
    src: url('reformagrotesk-bold.eot?#iefix') format('embedded-opentype'),
         url('reformagrotesk-bold.woff') format('woff'),
         url('reformagrotesk-bold.ttf') format('truetype'),
         url('reformagrotesk-bold.svg#reformagroteskboldcregular') format('svg');
    font-weight: bold;
    font-style: normal;

}