.manufactura
{
    &_theme_square
    {
        width: 133px;
        height: 41px;
    }

    &_theme_square&_layout_vertical
    {
        width: 87px;
        height: 65px;
    }

    &__logo
    {
    }
}
